<ac-label-desc props="{
                position: plane.position,
                text: plane.data.label.title,
                font: plane.data.label.font,
                horizontalOrigin: plane.data.label.horizontalOrigin,
                verticalOrigin: plane.data.label.verticalOrigin,
                pixelOffset: plane.data.label.pixelOffset,
                distanceDisplayCondition: plane.data.label.distanceDisplayCondition
                }">
</ac-label-desc>
<ac-billboard-primitive-desc props="{
                  image: plane.data.billboard.image,
                  position: plane.position,
                  distanceDisplayCondition: plane.data.billboard.distanceDisplayCondition,
                  color: plane.data.billboard.color,
                   scale: plane.data.billboard.scale
                  }">
</ac-billboard-primitive-desc>
