/* You can add global styles to this file, and also import other style files */
app-root {
  width: 100vw;
  height: 100vh;
  background: #536771;
  display: flex;
}

body {
  margin : 0;
  display: flex;
}
