:host {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .statusBar {
    height: 5%;
    display: flex;
    background: #00d6b2;
    width: 100%;
  }

  .body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
    .toolBar {
      display: flex;
      width: 4%;
      background: red;
    }

    .map {
      width: 96%;
      display: flex;
      background: yellow;
    }
  }
}
